html, body {
  margin: 0;
}

.background {
    animation: BackgroundGradient 21s ease-in-out infinite;
  background: linear-gradient(90deg, #9C4F96, #FF6355, #FBA949, #FAE442, #8BD448, #2AA8F2);
  background-size: 400% 400%;
  min-height: 100%;
  min-width: 100%;
}
@keyframes BackgroundGradient {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}